
$redLight: #ec505b;
$redMid: #e74854;
$redDark: #d9444f;

$blueLight: #2e9dfa;
$blueMid: #2397f9;
$blueDark: #1f90ef;

$orangeLight: #f39a58;
$orangeMid: #ed8f4a;
$orangeDark: #ee893f;

$greenLight: #5dca4d;
$greenMid: #4fc43d;
$greenDark: #3ebf2b;

$black1: #000;
$black2: #333;
$black3: #4b4f57;
$black4: #818794;
$black5: #bbb;
$black6: #4b4f57;
$black7: #999;

$light1: #fafafa;
$light2: #f5f5fb;
$light3: #f0f4fd;
$light4: #edeef1;
$light5: #cfd5e2;
$light6: #ebeef1;
$light7: #d4d7db;
